#film_roll
{
	position:fixed;
	z-index: 666;
	left:0px;
	bottom:%;
	height:250px;
	width:100%;
	box-shadow: 10px 10px 40px #000;
	border-top: 1px solid black;	
	border-bottom: 1px solid black;
	background-color: #3f3e3e;
}
.row
{
	padding-top: 0%;
	padding-left: 0%;		
}
.bn-container
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	background-size: cover;
	background-repeat: no-repeat center center fixed;
}
.bn-container_profil
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	background-size: cover;
	background-repeat: no-repeat center center fixed;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
     -ms-filter: blur(5px);
}
.bn-container_movie
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height:585px;
	background-size: cover;
	background-repeat: no-repeat center center fixed;
}
.bn-container_movie_detail
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height:650px;
	background-size: cover;
	background-repeat: no-repeat center center fixed;
	filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
     -ms-filter: blur(2px);
}
#detail_movie
{
	text-shadow: 0 2px 0 #000;
	border:0;
	color:white;
	position: absolute;
	top: 40px;
	bottom: 100px;
	left: 0;
	right: 0;
}
#detail_row
{
	box-shadow: 1px 1px 12px #000;
	text-shadow: 0 2px 0 #000;
	border:0;
	color:white;
	left: 0;
	right: 0;
	padding-right:4%;
	padding-left:5%;
	margin-top: 1%;
	z-index: 1;
}
#detail_row_image
{
	box-shadow: 1px 1px 12px #000;
	text-shadow: 0 2px 0 #000;
	background:rgba(0,0,0,0.5);
	border:0;
	color:white;
	left: 0;
	right: 0;
	padding-right:5%;
	padding-left:5%;
}

#container_player
{
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  width: 1024px;
}
#wait
{
	padding-top: 2%;
}
.actor
{
	 border-radius: 10px;
	 margin:5px;
}
#affiche:hover #block{
	display:block;
	position:absolute;

}